/*

* {
  margin: 0;
  padding: 0;
}

*/

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  /*background-color: #222;*/
  color: rgba(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/fondo-cocina.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  text-align: center;
  font-size: 1rem;
}

h2 {
  font-size: 2rem;
}

h1 {
  font-size: 3rem;
}

.chiquito {
  font-size: 0.7rem;
}

#superDestacado {
  color: pink;
}

.fotoDeReceta {
  display: block;
  margin: 0 auto;
}

.negrita {
  font-weight: bold;
}

.italica {
  font-style: italic;
}

.centrado {
  text-align: center;
}

.subrayado {
  text-decoration: underline 2px blue;
}

.verde {
  background: green;
}

.caja {
  width: 50%;
  float: left;
}



section, nav, footer {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  margin: 10px;
  padding: 10px 40px;
}

nav ul li {
  display: inline-block;
  margin-left: 10px;
}

nav ul li a {
  color: rgb(234, 234, 255);
  font-size: 1.3rem;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(208, 208, 253);
}

/*FOOTER*/

.centrado {
  position: sticky;
  bottom: 6rem;

}

.flechaArriba {
    width: 3rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
}

.clearfix {
  overflow: auto;
}